# 보안
.env
.env.*
*.pem
secrets.toml

# 가상환경 관련
__pycache__/
*.py[cod]
*$py.class
*.so

# 가상환경 폴더
venv/
.venv/
env/
.env_folder/

# 데이터
data/*
!data/.gitkeep

# front-end
.streamlit/

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp